<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="author" content="Christopher B. Zenner">
    <meta name="description" content="the world's best podcast app">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/listen-hear.png">
    
    <title>Listen, Hear</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="/"><img src="/assets/images/listenhearlogo.png" class="mx-auto logo" alt=""></a>
        {{#if user}}
        <p class="username">Hello, {{user.dataValues.username}}!</p>
        <div class="pr-2">
            <a class="btn btn-danger" href="/auth/logout" role="button">Log Out</a>
        </div>
        {{else}}
        <div class="pr-2">
            <a class="btn btn-success" href="/auth/github">Sign In with Github</a>
        </div>
        {{/if}}
    </nav>
    {{{ body }}}
    <footer class="footer fixed-bottom">
        <div class="container">
            <small>Copyright &copy; 2020 KFC&amp;T</small>
        </div>
    </footer>
    
    <script src="/dist/main.js"></script>
</body>
</html>
