@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";    

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 45px;
}

.navbar-expand-lg {
    padding: 15px 0px;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        justify-content: space-between;
    }
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8%;
    text-align: center;
    width: 100%;
    background-color: #343A40;
    border-top: 5px solid #EE6E73;
}

footer small {
    line-height: 40px;
    color: #D2B773;
    font-size: 12px;
}

.main-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}

.logo {
	margin-right: auto !important;
	height: 120px;
    margin: -16px;
}

.gitbtn{
	transition: all .5s ease;
    width: 15%;
    border-radius: 30px;
    color: #008080;
    font-weight: 600;
    background-color: #fff;
    border: 3px solid #008080;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.gitbtn:hover, .gitbtn:focus{
	background-color: #008080;
	color:#fff;
}

.all-cards {
    padding: 1vh;
    margin-top: 1%;
    margin-bottom: 1%;
}

.card {
    height: 100%;
    width: 100%;

    .card-img-top {
        width: 100%;
        height: 40%;
    }
}

.card-container {
    object-fit: cover;
}

.embed-responsive {
    display: flex;
    width: 100%;
}

.c-description {
    min-height: 200px;
    max-height: 200px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
}

.btn-secondary {
    display: flex;
    position: relative;
}

.mini-player {
    width: 100%;
    position: relative;
    margin-top: 1%;
    margin-bottom: 5%;
}

.card-title {
    margin-bottom: 7%;
}

.btn-failure {
    color: white;
    font-weight: bold;
}

.username {
    color: white;
    font-weight: bold;
}