@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";    

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 45px;
}

.navbar-expand-lg {
    padding: 15px 0px;
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        justify-content: space-between;
    }
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 8%;
    text-align: center;
    width: 100%;
    background-color: #343A40;
    border-top: 5px solid #EE6E73;
}

footer small {
    line-height: 40px;
    color: #D2B773;
    font-size: 12px;
}

.main-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}

.logo {
	margin-right: auto !important;
	height: 120px;
    margin: -16px;
}

.gitbtn{
	transition: all .5s ease;
    width: 15%;
    border-radius: 30px;
    color: #008080;
    font-weight: 600;
    background-color: #fff;
    border: 3px solid #008080;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.gitbtn:hover, .gitbtn:focus{
	background-color: #008080;
	color:#fff;
}

